.header {
	color:white;
	margin-top:100px;
	text-align: center;
}

.header h1 {
	font-size: 70px;
	font-family: 'Gloria Hallelujah', cursive;
}

.header h2 {
	margin-top:50px;
	font-family: 'Rubik Mono One', sans-serif;
}

.loginPanel {
	color:white;
	font-family: 'Merriweather', serif;
	margin-top: 50px; 
}

.loginPanel h1 {
	text-align: center;
}

.btn {
	width:100px; 
}

html {

}